.card-header {
    background-color: #909938;

    h5{
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.card-body {
  label{
    color: #636234;
    font-family: Arial, Helvetica, sans-serif;
  }  

  button[type="submit"] {
    background: #909938;
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
  }

  button:hover {
  background: #636234;
  }

  .form-select{
    color: #777;
  }

  .form-control {
    color: #777;
  }

}

a.navbar-brand {
  padding: 0;
  margin: 0;
  width: 250px;
  order: 0;

  @media screen and (max-width: 992px) {
    width: 150px;
  }

  img {
    width: 100%;
    height: auto;
  }

}

.section-title {
  text-align: center;
  padding-bottom: 5px;

  h2 {
      color: #909938;
      font-size: 45px;
      font-weight: 400;
      margin-bottom: 5px;
      padding-bottom: 10px;
      position: relative;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
  h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    background: #909938;
    bottom: 0;
    left: calc(50% - 20px);
  }

  @media screen and (max-width: 480px) {
    h2 {
      font-size: 28px;
    }
  }

}

.info-registro{
  .info-box {
    color: #909938;
    text-align: center;
    box-shadow: 0 0 60px rgba(214, 215, 216, 0.6);
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
  }

  .bx {
    font-size: 32px;
    color: #909938;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #909938;
  }

  h3 {
    font-size: 20px;
    color: #55612e;
    font-weight: 700;
    margin: 10px 0;
  }

  p {
      font-size: 15px;
      font-style: italic;
      text-align: center;
      color: #9195a2;
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}