.card-header {
    background-color: #5499C7;

    h5{
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

label{
  color: #1B4F72;
  font-family: Arial, Helvetica, sans-serif;
}

button[type="submit"] {
    background: #5499C7;
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
  background: #1B4F72;
}

a.navbar-brand {
    padding: 0;
    margin: 0;
    width: 250px;
    order: 0;

    @media screen and (max-width: 992px) {
      width: 150px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

  .section-title {
    text-align: center;
    padding-bottom: 15px;

    h2 {
        color: #1B4F72;
        font-size: 45px;
        font-weight: 400;
        margin-bottom: 15px;
        padding-bottom: 15px;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    
      h2::before {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
      }

      h2::after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #5499C7;
        bottom: 0;
        left: calc(50% - 20px);
      }

  }


  
.info-registro{
  .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 10px;
  }

  .bx {
    font-size: 32px;
    color: #5499C7;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #5499C7;
  }

  h3 {
    font-size: 20px;
    color: #1B4F72;
    font-weight: 700;
    margin: 10px 0;
  }

  p {
    font-size: 15px;
      font-style: italic;
      text-align: center;
      color: #9195a2;
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}