<div class="container">
  <div class="row justify-content-center align-items-center mh-100vh">
    <div class="col-12 col-lg-8">
      <div class="card">

        <div class="card-header">Registro de asistencia</div>

        <form class="card-body">
          <div class="row">

            <div class="form-group col-12 col-md-6 py-0">
              <label class="form-label" for="nombre">Nombre(s)</label>
              <input type="text" class="form-control" id="nombre" autocomplete="off">
            </div>

            <div class="form-group col-12 col-md-6 py-0">
              <label class="form-label" for="apellidos">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" autocomplete="off">
            </div>

            <div class="form-group col-12 col-md-6 py-0">
              <label class="form-label" for="gCuidado">Grupo de cuidado</label>
              <select class="form-select" id="gCuidado">
                <option selected value="" disabled>Seleccione su grupo de cuidado</option>
                <option value="Alfa y Omega">Alfa y Omega</option>
                <option value="Solidaridad">Solidaridad</option>
                <option value="Portal">Portal</option>
              </select>
            </div>

            <div class="form-group col-12 col-md-6 py-0">
              <label class="form-label" for="fechaNac">Fecha de nacimiento</label>
              <input class="form-control date-control" id="fechaNac" bsDatepicker autocomplete="off" [bsConfig]="datePickerConfig">
            </div>

          </div>

          <button type="submit" class="btn btn-primary mx-auto d-block">Registrarme</button>

        </form>
      </div>
    </div>
  </div>
</div>
