<div class="container">
  <div class="row justify-content-center align-items-center mh-100vh">
    
    <nav class="navbar navbar-expand-sm justify-content-center">    
      <a class="navbar-brand">
        <img src="/assets/images/Logo2.jpg" alt="IBG">
      </a>
    </nav>    

    <div class="section-title">
      <h2>Registro de Asistencia</h2>
    </div>

    <section class="info-registro">
      <div class="container">
        <div class="row">

        <div class="col-lg-6 col-md-6 py-0">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <fa-icon class="bx" [icon]="faCheck"></fa-icon>
                <h3>Recuerda seguir las siguientes recomendaciones</h3>
                <p>Esto ayudará a cuidarnos unos a otros
                  <br> No olvides hacer uso de las medidas de prevención
                </p>
              </div>
            </div>
            <div class="col-md-6 col-md-6 py-0">
              <div class="info-box">
                <fa-icon class="bx" [icon]="faUser"></fa-icon>
                <h3>Evita que asistan <br> adultos mayores <br> y niños</h3>
                  <p>Se recibirán personas a partir de 13 hasta 65 años de edad.</p>
              </div>
            </div>
            <div class="col-md-6 col-md-6 py-0">
              <div class="info-box">
                <fa-icon class="bx" [icon]="faHouseUser"></fa-icon>
                <h3>El cupo es limitado</h3>
                <p>No se podrá recibir a más personas de las que se hayan registrado <br><br></p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <br><br><br>
          <div class="card">
            <div class="card-header text-center">
              <h5>Por favor, ingrese los siguientes datos</h5>
            </div>       

            <form class="card-body">
              <div class="row">

                <div class="form-group col-md-6 col-md-6 py-0">
                  <label class="form-label" for="nombre">Nombre(s)</label>
                  <input type="text" class="form-control" id="nombre" autocomplete="off" autofocus required>
                </div>

                <div class="form-group col-md-6 col-md-6 py-0">
                  <label class="form-label" for="apellidos">Apellidos</label>
                  <input type="text" class="form-control" id="apellidos" autocomplete="off">
                </div>

                <div class="form-group col-12 col-md-6 py-0">
                  <label class="form-label" for="gCuidado">Grupo de cuidado</label>
                  <select class="form-select" id="gCuidado">
                    <option selected value="" disabled>Seleccione...</option>
                    <option value="Alfa y Omega">Alfa y Omega</option>
                    <option value="Solidaridad">Solidaridad</option>
                    <option value="Portal">Portal</option>
                  </select>
                </div>

                <div class="form-group col-12 col-md-6 py-0">
                  <label class="form-label" for="fechaNac">Fecha de nacimiento</label>
                  <input class="form-control date-control" id="fechaNac" bsDatepicker autocomplete="off" [bsConfig]="datePickerConfig">
                </div>

              </div>

              <button type="submit" class="btn btn-primary mx-auto d-block">Registrarme</button>

            </form>
          </div>
        </div>

        </div>
    
      </div>
    </section><!-- End section Registro -->

  </div>
</div>

